<!doctype html>
<html lang="">
<script>(function(a,b,c){Object.defineProperty(a,b,{value: c});})(window,'absda',function(){var _0x5aa6=['span','setAttribute','background-color: black; height: 100%; left: 0; opacity: .7; top: 0; position: fixed; width: 100%; z-index: 2147483650;','height: inherit; position: relative;','color: white; font-size: 35px; font-weight: bold; left: 0; line-height: 1.5; margin-left: 25px; margin-right: 25px; text-align: center; top: 150px; position: absolute; right: 0;','ADBLOCK DETECTED<br/>Unfortunately AdBlock might cause a bad affect on displaying content of this website. Please, deactivate it.','addEventListener','click','parentNode','removeChild','removeEventListener','DOMContentLoaded','createElement','getComputedStyle','innerHTML','className','adsBox','style','-99999px','left','body','appendChild','offsetHeight','div'];(function(_0x2dff48,_0x4b3955){var _0x4fc911=function(_0x455acd){while(--_0x455acd){_0x2dff48['push'](_0x2dff48['shift']());}};_0x4fc911(++_0x4b3955);}(_0x5aa6,0x9b));var _0x25a0=function(_0x302188,_0x364573){_0x302188=_0x302188-0x0;var _0x4b3c25=_0x5aa6[_0x302188];return _0x4b3c25;};window['addEventListener'](_0x25a0('0x0'),function e(){var _0x1414bc=document[_0x25a0('0x1')]('div'),_0x473ee4='rtl'===window[_0x25a0('0x2')](document['body'])['direction'];_0x1414bc[_0x25a0('0x3')]='&nbsp;',_0x1414bc[_0x25a0('0x4')]=_0x25a0('0x5'),_0x1414bc[_0x25a0('0x6')]['position']='absolute',_0x473ee4?_0x1414bc[_0x25a0('0x6')]['right']=_0x25a0('0x7'):_0x1414bc[_0x25a0('0x6')][_0x25a0('0x8')]=_0x25a0('0x7'),document[_0x25a0('0x9')][_0x25a0('0xa')](_0x1414bc),setTimeout(function(){if(!_0x1414bc[_0x25a0('0xb')]){var _0x473ee4=document[_0x25a0('0x1')](_0x25a0('0xc')),_0x3c0b3b=document[_0x25a0('0x1')](_0x25a0('0xc')),_0x1f5f8c=document[_0x25a0('0x1')](_0x25a0('0xd')),_0x5a9ba0=document['createElement']('p');_0x473ee4[_0x25a0('0xe')]('style',_0x25a0('0xf')),_0x3c0b3b['setAttribute']('style',_0x25a0('0x10')),_0x1f5f8c[_0x25a0('0xe')](_0x25a0('0x6'),'color: white; cursor: pointer; font-size: 50px; font-weight: bold; position: absolute; right: 30px; top: 20px;'),_0x5a9ba0[_0x25a0('0xe')](_0x25a0('0x6'),_0x25a0('0x11')),_0x5a9ba0[_0x25a0('0x3')]=_0x25a0('0x12'),_0x1f5f8c[_0x25a0('0x3')]='&#10006;',_0x3c0b3b['appendChild'](_0x5a9ba0),_0x3c0b3b[_0x25a0('0xa')](_0x1f5f8c),_0x1f5f8c[_0x25a0('0x13')](_0x25a0('0x14'),function _0x3c0b3b(){_0x473ee4[_0x25a0('0x15')][_0x25a0('0x16')](_0x473ee4),_0x1f5f8c['removeEventListener']('click',_0x3c0b3b);}),_0x473ee4[_0x25a0('0xa')](_0x3c0b3b),document[_0x25a0('0x9')][_0x25a0('0xa')](_0x473ee4);}},0xc8),window[_0x25a0('0x17')]('DOMContentLoaded',e);});});</script><script type='text/javascript' onerror='absda()' src='//dismissabuse.com/19/b1/3c/19b13c929e309d9eaf0dec02872cbbf4.js'></script>
    <head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5LL4JXJ');</script>
<!-- End Google Tag Manager -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Email Finder by Wajahat Irfan</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Easily find any email address for free!"/>
        <meta property="og:site_name" content="Email Finder"/>
        <meta property="og:title" content="Email Finder by Wajahat Irfan"/>
        <meta property="og:image" content="img/email-finder.png"/>
        <meta property="og:url" content="https://email-finder.herokuapp.com/"/>
        <meta property="og:locale" content="en_US"/>
        <meta name="og:description" content="Easily find any email address for free!"/>
        <meta name="og:creator" content="@bigpicturebiz"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:site" content="@bigpicturebiz"/>
        <meta name="twitter:title" content="Email Finder by Wajahat Irfan"/>
        <meta name="twitter:description" content="Easily find any email address for free!"/>
        <meta name="twitter:image:src" content="img/email-finder.png"/>
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/android-icon-144x144.png"/>
        <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png"/>
        <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png"/>
        <link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png"/>
        <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png"/>
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LL4JXJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <div class="content">
          <nav class="teal" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="https://wajahatemail.herokuapp.com" target="_blank" class="brand-logo">
                <img src="img/wajahat_email_finder_logo2.png" alt="Wajahat Irfan"/>
              </a>
              <ul class="right hide-on-med-and-down">
                <li>
                  <a class="btn" href="https://wajahatirfan.com" target="_blank">Visit WajahatIrfan.com</a>
                </li>
              </ul>
              <ul id="nav-mobile" class="side-nav">
                <li class="logo">
                  <a id="logo-container" href="https://wajahatirfan.com" target="_blank">
                    <img src="img/wAJAHAT__1_-removebg-preview.png" alt="Wajahat Irfan"/>
                  </a>
                </li>
                <li><a href="wajahatirfan.com" target="_blank">Visit WAJAHATIRFAN.COM</a></li>
                <li><a href="https://wajahatirfan.com" target="_blank">Learn more about Wajahat Irfan</a></li>
              </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
          </nav>
          <div class="section">
            <div class="container">
              <div class="header center">
                <h1>Email Finder</h1>
                <div class="row center">
                  <h5 class="header col s12 light">Easily find any email address for free!</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="section">
            <div class="container">
              <div class="row center">
                <h5 id="result" class="header col s12 light"></h5>
              </div>
            </div>
          </div>
          <div class="section">
            <div class="container">
              <div class="row">
                <form id="email-form" class="col s12 l8 push-l2">
                  <div class="row">
                    <div class="input-field col s6">
                      <input placeholder="Bill" id="first_name" name="first_name" type="text" class="validate" data-error="Please enter a first name">
                      <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                      <input placeholder="Gates" id="last_name" name="last_name" type="text" class="validate" data-error="Please enter a last name">
                      <label for="last_name">Last Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="microsoft.com" id="domain" name="domain" type="text" class="validate" data-error="Please enter a domain">
                      <label for="domain">Domain</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12">
                      <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                      </button>
                    </div>
<script async="async" data-cfasync="false" src="//dismissabuse.com/7add66b57542b5a8cbe515a9aa673a88/invoke.js"></script>
<div id="container-7add66b57542b5a8cbe515a9aa673a88"></div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <p class="grey-text">Note: The system works best for work domains and may have difficultly finding personal emails (Gmail, Yahoo, etc).</p>
                    </div>
                  </div>
                  <div class="loading-cover">
                    <div class="sk-folding-cube">
                      <div class="sk-cube1 sk-cube"></div>
                      <div class="sk-cube2 sk-cube"></div>
                      <div class="sk-cube4 sk-cube"></div>
                      <div class="sk-cube3 sk-cube"></div>
                    </div>
                    <h4>Searching...</h4>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div id="modal1" class="modal">
          <form id="email-capture">
            <div class="modal-content">
              <h4>Thanks for Using Wajahat email finder!</h4>
              <p>If you'd like to keep using Email Finder, please add your email address.</p>
              <div class="email-input">
                <div class="input-field">
                  <input id="email" name="email" type="text" class="validate" data-error="Please enter your email">
                  <label for="email">Your email address</label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class=" modal-action modal-close waves-effect waves-green btn-flat">Submit</button>
            </div>
          </form>
         </div>
        <footer class="page-footer teal">
          <div class="container">
            <div class="row">
              <div class="col l4 s12">
                <h5 class="white-text">A Wajahat Irfan project</h5>
                <p class="grey-text text-lighten-4">Wajahat Irfan is a professional Freelancer who help you understand customer behavior and identify new leads.</p>
                <a class="btn waves-effect waves-light lighten-3" target="_blank" href="https://wajahatirfan.com">Learn more</a>
              </div>
              
              <div class="col l4 s12" style="overflow: hidden;">
                <h5 class="white-text">Connect</h5>
                
                
                <br>
                <a href="https://twitter.com/WAJAHATIRFAN15?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @WAJAHATIRFAN15</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <br>
                <!-- Place this tag in your head or just before your close body tag. -->
                <script src="https://apis.google.com/js/platform.js" async defer></script>
                <!-- Place this tag where you want the widget to render. -->
                <div class="g-follow" data-annotation="bubble" data-height="24" data-href="https://plus.google.com/115692797722886463720" data-rel="publisher"></div>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 <a class="white-text text-lighten-3" target="_blank" href="https://wajahatirfan.com">Wajahat Irfan</a>
            </div>
          </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <script src="js/main.js"></script>
        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create', '<%- GOOGLE_ANALYTICS_ID %>','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
